@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,700&display=swap");
@import "./typography";
@import "./colors";
@import "./buttons";

$max-width: 1440px;

* {
	font-family: Poppins, sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: $black;
	scroll-behavior: smooth;

	a {
		text-decoration: none;
		color: $grey;
		&.active {
			color: $black;
		}

		&:hover {
			color: $blue;
		}
	}
}

.logo {
	font-size: 2.24rem;
	font-weight: 700;
	font-style: italic;
	color: $blue;
}

.card {
	max-width: 297px;
	padding: 20px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;

	img {
		width: 266px;
		height: 266px;
		border-radius: 8px;
	}

	h6 {
		text-align: center;
	}

	.content & {
		box-shadow: 0px 1px 30px 0px rgba(70, 69, 85, 0.1);
	}

	&:hover {
		box-shadow: 0px 1px 30px 0px rgba(24, 90, 219, 0.25);
	}
}

header {
	background-color: $white;
	box-shadow: 0px 1px 30px 0px rgba(170, 169, 188, 0.25);
	display: flex;
	justify-content: center;
	position: sticky;
	top: 0;

	nav {
		margin: 20px 80px 20px 80px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: $max-width;
		width: 100%;

		ul {
			display: flex;
			list-style: none;

			li {
				&:not(:last-child) {
					margin-right: 40px;
				}
			}
		}

		.login-register {
			display: flex;

			:not(:last-child) {
				margin-right: 20px;
			}
		}
	}
}

main {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;

	section {
		max-width: $max-width;
		width: 100%;
		margin: 80px;
	}

	#mainContent {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.content {
			display: flex;
			flex-direction: column;

			:not(:last-child) {
				margin-bottom: 80px;
			}
		}

		.cta {
			:not(:last-child) {
				margin-right: 40px;
			}
		}
	}

	#services {
		display: flex;
		flex-direction: column;
		align-items: center;

		.title {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 80px;
		}

		.content {
			width: 100%;
			display: flex;
			justify-content: space-between;

			:not(:last-child) {
				margin-bottom: 20px;
			}
		}
	}

	#topDestinations {
		display: flex;
		flex-direction: column;
		align-items: center;

		.title {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 80px;
		}

		.content {
			width: 100%;
			display: flex;
			justify-content: space-between;

			.title-card {
				display: flex;
				flex-direction: column;
				align-items: center;

				h5 {
					margin: 0;
				}
			}

			.book {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;

				h6 {
					margin: 0;
				}
			}

			:not(:last-child) {
				margin-bottom: 20px;
			}
		}
	}

	#howToRegister {
		display: flex;
		justify-content: space-between;

		.title {
			margin-bottom: 80px;
		}

		.content {
			:not(:last-child) {
				margin-bottom: 40px;
			}

			.step {
				max-width: 563px;
				display: flex;

				img {
					width: 50px;
					height: 50px;
					background-color: $orange;
					padding: 25px;
					box-sizing: content-box;
					border-radius: 16px;
					margin-right: 40px;
				}

				h5 {
					margin-bottom: 10px;
				}
			}
		}
	}

	#testimonials {
		display: flex;
		flex-direction: column;
		align-items: center;

		.title {
			display: flex;
			flex-direction: column;
			text-align: center;
			margin-bottom: 80px;
		}

		.content {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			gap: 40px;

			.card {
				max-width: 500px;
				display: flex;
				flex-direction: row;

				img {
					border-radius: 100px;
					width: 100px;
					height: 100px;
					margin-right: 40px;
				}

				.card-content {
					h6 {
						text-align: left;
					}

					:not(:last-child) {
						margin-bottom: 10px;
					}
				}
			}
		}
	}

	#CTA {
		display: flex;
		flex-direction: column;
		align-items: center;

		.title {
			display: flex;
			flex-direction: column;
			text-align: center;
			margin-bottom: 80px;
		}
	}
}

footer {
	display: flex;
	justify-content: center;
	margin: 80px;

	.contents {
		max-width: $max-width;
		display: flex;
		justify-content: space-between;
		width: 100%;

		.content {
			width: 250px;

			li {
				list-style: none;
			}

			:not(:last-child) {
				margin-bottom: 10px;
			}

			&.section-logo {
				width: 410px;

				.logo {
					margin-bottom: 10px;
				}

				p {
					max-width: 310px;
				}
			}
		}
	}
}
